{
  "printWidth": 80,
  "semi": true,
  "vueIndentScriptAndStyle": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
